@{
    ViewData["Title"] = "Kitchen";
}

<h2>Kitchen</h2>

<div id="kitchen-root">
    Đang tải đơn...
</div>

@section Styles {
    <link rel="stylesheet" href="~/css/kitchen.css" />
}

@section Scripts {
    <script src="~/js/kitchen.js"></script>
}
